<!-- {% comment %} {% extends "watches/base.html" %}
{% block aboutus %}

{% endblock aboutus %} {% endcomment %} -->

{% include 'watches/navbar.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'watches/css/style.css' %}">
</head>
<body>
    {% comment %} ........... {% endcomment %}
    <!-- <div class="img-comp-container">
        <div class="img-comp-img">
            <img src="{% static 'watches/images/ser7 img.webp' %}"alt="Series 7">
        </div>
        <div class="img-comp-img img-comp-overlay">
            <img src="{% static 'watches/images/sr01.webp' %}"alt="Series 7"> -->
        <!-- </div>
      {% comment %} </div> -->........... {% endcomment %}
    

<!-- ......new..code......... -->
<div class="full-page-container">
    <img class="background-image" src="{% static 'watches/images/aboutimg.gif' %}" alt="Background Image">
    <div class="overlay-text">
      <h1>Apple Event</h1>
      <p>Apple introduces Apple Watch Series 2, the ultimate device for a healthy life

      </p>
    </div>
  </div>
  </div>




</body>
</html>