{% extends "watches/base.html" %}

{% block title %}Watch Details{% endblock title %}
{% load static %}
<link rel="stylesheet" href="{% static 'watches/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'watches/css/style.css' %}">

{% block content %}
<div class="container watchdetails">
    <div class="row">
        <div class="col-sm-6">
                <span class="border border-danger">
                    <img src="{{wd.brand_image.url}}" class="img-fluid rounded border border-primary" alt="Responsive image" >
                </span>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <h1 class="jumbotron-heading text-center text-danger">{{wd.name}}</h1>
                <p class="lead text-center">{{wd.small_description}}</p>
                    <div class="text-center">
                        <h4 class="font-weight-bold"><i class="fa-solid fa-indian-rupee-sign"></i>{{wd.discounted_price}} <small class="fw-light rupee">{{wd.selling_price}}</small> <small class="text-danger">({{percentage}}% off)</small></h4> 
                        <a href="{% url 'addtocart' wd.id %}" class="btn btn-info my-2 mr-2">Add to cart</a>
                        <a href="#" class="btn btn-success my-2">Buy Now</a>
                    </div>
                <div class="description">
                <h2 class="jumbotron-heading mt-5">Description</h2>
                    {{wd.description}}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    
{% endblock content %}